@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Muhammad Khan, I am currently pursuing a career in Software Development.  I was born and raised in Michigan, yet my parents travelled all the way from present day Pakistan to get here!</p>
<p>I have always been very family oriented type of fellow, they're what keeps me going throughout my days.</p>
<p>My main hobby would have to be anything affiliated with sports!  Playing them, going to a live event or even sitting back on the couch and watching a game truly leaves me content. </p>
<p>Though I have love for my family, and my hobbies, to ensure them a decent life my goal is to be a successful developer!</p>


<p>I am typically an easy person to reach out to, if you have any questions about me, or would just like to chit-chat, feel free to contact me! </p>

<p>https://www.linkedin.com/in/muhammad-khan-2bab63176/</p>
<p>Email: Muhammadkhann10@gmail.com</p>
<p>Cell: 734-846-7900</p>