@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A major project I would like to share would be one completd by myself and some of my amazing classmates!  Given the task to create a POS Terminal, we got right to work. </p>
<p>The task given was to, in so many words, was to create a POS terminal for a coffee shop </p>
<p>We created a menu for the viewers, alloing them to choose the items they would like</p>
<p>After the menu and prices were made, we started coding the different methods of payments we could possibly receive</p>
<p>After throwing in validation for items, methods of payment, and price totals, we completed out project</p>
<p>https://github.com/Muhammadk10/AHBCMidterm</p>