@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Muhammads Webpage!!</h1>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Blogging</h2>
        <p>
           Hello, I would like to sincerely Thank you for visiting my newly created webpage!  
        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Developing</h2>
        <p>My pursue of Software Development began back in 2017, when a close friend suggested me the idea</p>
        <p>I was currently enrolled in many medical classes, racking in the credits, but nevere found myself content with the topic.</p>
        <p>A point came in my life where I decided to make the leap to the world of Software Development, so I enrolled in a class at HFC</p>
        <p>After taking a Principles of Programming Logic course, I truly believe I found something that I actually enjoy, and have since continued persuing the subject.</p>
        <p>A big move I had made since that class, was signing up at a coding bootcamp, called Grand Circus, since then I have been trying to advance myself in the field.</p>
       
    </div>
    <div class="col-md-3">
        <h2>Hometown</h2>
        <p>Though I was born in Detroits Southwestern area, while I was a mere infant, my family decided to  make a move.</p>
       <p> My family ended up relocating about 25 minutes from where I was born, to a nice, cozy and quiet area, Brownstown, which i have called home since.</p>
        
    </div>
</div>